PORT=3001
FRONTEND_URL=http://localhost:5173

# Configurações do Simulador
# Tempo de cada ciclo em milissegundos
SIMULATOR_INTERVAL_MS=3000

# RPM teórico máximo da máquina
SIMULATOR_RPM_THEORETICAL=1500

# Temperatura ambiente (usada no cálculo de perda de temperatura)
SIMULATOR_AMBIENT_TEMP=25
